.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  box-shadow: 0 1px 3px -2px black;
}

.navbar-logo{
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo p{
  color: #9370db;
  font-size: 30px; 
  font-weight: 600;
}

.nav-menu{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px; 
  color: #9370db;
  font-size: 16px; 
  font-weight: 500;
}

.nav-menu li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}

.nav-menu hr{
  border:  none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background-color: #FF4141;
}

.nav-login-cart{
  display: flex;
  align-items: center;
  gap: 30px; 
}

.nav-login-cart button{
  padding: 8px 16px; 
  outline: none;
  border: 1px solid black;
  border-radius: 75px;
  color: #9370db;
  font-size: 16px;
  font-weight: 500;
  background: white;
  cursor: pointer;
}

.nav-login-cart button:active{
  background: whitesmoke;
}

.nav-cart-count{
  width: 18px; 
  height: 18px; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -25px; 
  margin-left: -25px; 
  border-radius: 50%; 
  font-size: 12px; 
  background: red;
  color: aliceblue;
}


.search-form {
  display: flex;
  align-items: center;
}

.search-form input[type="text"] {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px; 
}

.search-form button {
  padding: 8px 12px;
  margin-left: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #9370db;
  color: white;
  font-size: 14px; 
  cursor: pointer;
}

.search-form button:hover {
  background-color: #6e55a8;
}


@media screen and (max-width: 768px) {
  .navbar-logo p {
      font-size: 20px; 
  }

  .nav-menu {
      gap: 20px; 
  }

  .nav-login-cart button {
      padding: 6px 12px; 
      font-size: 14px; 
  }

  .nav-cart-count {
      width: 16px; 
      height: 16px; 
      margin-top: -22px; 
      margin-left: -22px; 
      font-size: 10px; 
  }

  .search-form input[type="text"] {
      font-size: 12px; 
  }

  .search-form button {
      padding: 6px 10px; 
      font-size: 12px; 
  }
}